

<!--Base filetom import to frontends to not repeat code.-->


<!--Loads the static files. Such as, the css. -->

{% load static %}
<html>
    <header>
            <title>Django blog</title>
       <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:" rel="stylesheet">
        <link type="text/css" href="{% static 'blog/base.css' %}" rel="stylesheet">
                
        <nav>
            <button type="button" class="btn btn-primary"><a href="{% url 'home' %}">Home</a></button>
            <button type="button" class="btn btn-primary"><a href="{% url 'post_new' %}">New Job</a></button>
            <button type="button" class="btn btn-primary"><a href="/blog/templates/panel.html">Log in</a></button>

        </nav>

        {% if user.is_authenticated %}
            <p>Hi {{user.username}}</p>
            <p><a href="{% url 'logout' %}">Log out</a></p>
        {% else %}
            <p>You are not logged in</p>
            <button type="button" class="btn btn-primary" ><a href="{% url 'login' %}">Log in</a></button>

        {% endif %}    



    </header>

    <body>
    <!-- Body of the base file with an option to take input from user. Token is safety for sql injections.-->    
    {% block content %}
        <h1>Edit post</h1>
        <form action=" " method="post" > {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Update">
        </form>
    {% endblock content %}
    
    </body>
    <footer>
        <div class="box">
            <div class="left">Jose porras</div>
            <div class="middle"> support@joseporras.co</div>
            <div class="right"> right</div>
        </div>
    </footer>
</html>