

<!---This is the template for the websites.-->
{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:
rel="stylesheet">
        <title>MY django blog</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>

    <body>
        <header>
            <h1><a href="{% url 'home' %}">Blog post</a></h1>
            </header>
            <div>
                {% block content %}
                {% endblock content %}
            </div>


    </body>
</html>