{% extends 'base.html' %}

{% block content %}
    <div class="post-entry">
        <h1>Title of job:</h1>
        <p>{{post.job}}</p>
        <h2> Status:</h2>
        <p>{{post.status}}</p>
        <h2>Employee:</h2>
        <p>{{post.worker}}</p>
        <h2>Details:</h2>
        <p>{{post.details}}</p>

    </div>


    <!--Links to edit post and delete a post-->
    <a href="{% url 'post_edit' post.pk %}"> Edit post</a>
    <br>
    <a href="{% url 'post_delete' post.pk %}"> Delete blog post</a>

{% endblock content%}